
*{
    background: #F3F5FC;
  }

/* logo */
.logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 10%;
  }

/* cuador de texto */
.cuadrotexto{
    margin-right: 60px;
    left: 60px;
    top: 60px;
    color: #0A3871;
    text-align: center;
}

.entradaTexto{
    position: absolute;
    width: 577px;
    height: 48px;
    left: 240px;
    top: 168px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    text-align: center;
}
::placeholder{
    color: #0A3871;
  }

.entradaTexto:focus{
    outline: none;
  }

 .botones{
    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;
  }

.alerta{
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 229px;
    height: 18px;
    top: -25px;
}

.btn-encriptar{
    background: #0A3871;
    flex-direction: row;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    flex: none;
    order: 0;
    flex-grow: 0;  
    border-radius: 24px; 
    text-align: center;
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    text-align: center;   
}

.btn-desencriptar{
    background: #D8DFE8;
    flex-direction: row;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    flex: none;
    order: 0;
    flex-grow: 0;  
    border: 1px solid #0A3871;
    border-radius: 24px;
    text-align: center;
    color: #000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    text-align: center; 
}

.salida{
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
.img-muneco{
    background: #fff;
    width: 100%;
}

.No-msg{
    background: #fff;
    width: 100%;
    height: 58px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */
    text-align: center;
    /* Gray/gray-500 */
    color: #343A40;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.ingresar-msg{
    background: #fff;
    width: 100%;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    /* or 24px */
    text-align: center;
    /* Gray/gray-400 */
    color: #495057;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.texto-salida{
    position: absolute;
    width: 336px;
    height: 770px;
    left: 38px;
    top: 65px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;   
    color: #495057; 
}

.copiar{
    box-sizing: border-box;
    /* Auto layout */
    flex-direction: row;
    padding: 24px;
    gap: 8px;
    position: absolute;
    width: 336px;
    height: 67px;
    left: 38px;
    top: 850px;
    /* Dark blue/dark-blue-300 */
    border: 1px solid #0A3871;
    border-radius: 24px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
}






